* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  font-family: "Anek Latin", sans-serif;
  font-size: 16px;
}

#logoAP {
  width: 15%;
  float: left;
  margin: -1.7% -0.2%;
}

a {
  font-size: 2vw;
  text-decoration: none;
  float: left;
  margin-top: 2%;
}

.redes {
  float: right;
  margin: 1.5% 0.5%;
}

.redes img {
  width: 2.5vw;
}

#btn-login {
  float: right;
  font-size: 2vw;
  margin-left: -0.5%;
  padding: 1px;
  border-radius: 8px;
}

#banner {
  width: 100%;
}

#fotoPerfil {
  width: 15%;
  margin-top: -6.667vw;
  margin-left: 5px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 200px;
}

h1 {
  font-size: 2em;
  margin-left: 20px;
}

h2 {
  font-size: 1.7em;
  margin-left: 10px;
}

p {
  font-size: 1.5em;
  margin-left: 15px;
}

ul{
  display: block;
}

li {
  margin: 5px 5px 20px;
  list-style: none;
}

.container {
  border: 2px solid #d0d0d0;
  border-radius: 50px;
  margin: 5px;
  padding: 13px;
  display: block;
}

#logoDelta {
  width: 50px;
  float: left;
  margin-right: 10px;
}

#logoDC {
  width: 100px;
  float: left;
  margin-right: 10px;
}

#logoVorterix {
  width: 50px;
  float: left;
  margin-right: 10px;
}

#logoSAV {
  width: 100px;
  float: left;
  margin-right: 10px;
}

#logoAPedu{
  width: 30%;
  float: left;
}

#logoEU{
  width: 20%;
  float: left;
}

#logoDome{
  width: 20%;
  float: left;
}

#logoLIL{
  width: 20%;
  float: left;
}

#logoCETE{
  width: 20%;
  float: left;
}