* {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  font-family: "Anek Latin", sans-serif;
}

#logoAP {
  width: 130px;
  float: left;
  margin-top: -10px;
}

a{
  float: left;
  margin-top: 22px;
  margin-left: -2px;
}

#redes {
  float: right;
  margin-top: 16px;
}

#btn-login {
  float: right;
  margin: 4px;
  padding: 2px;
  border-radius: 8px;
}

#banner {
  width: 100%;
}

#fotoPerfil {
  width: 15%;
  margin-top: -40px;
  margin-left: 25px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 200px;
}

h1 {
  font-size: 2em;
  margin-left: 10px;
}

h2 {
  font-size: 1.7em;
  margin-left: 10px;
}

p {
  margin-left: 10px;
  font-size: 1.5em;
}

li{
  margin: 5px 5px 20px;
  list-style: none;
}

.container {
  border: 2px solid #d0d0d0;
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
}

#logoDelta {
  width: 50px;
  float: left;
  margin-right: 10px;
}

#logoDC {
  width: 100px;
  float: left;
  margin-right: 10px;
}

#logoVorterix {
  width: 50px;
  float: left;
  margin-right: 10px;
}

#logoSAV {
  width: 100px;
  float: left;
  margin-right: 10px;
}
