body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkgray;
  font-family: "Anek Latin", sans-serif;
  font-size: 16px;
}

#logoAP {
  width: 15%;
  float: left;
  margin: -1.7% -0.2%;
}

a {
  font-size: 2vw;
  text-decoration: none;
  float: left;
  margin-top: 2%;
}

.redes {
  float: right;
  margin: 1.5% 0.5%;
}

.redes img {
  width: 2.5vw;
}

#btn-login {
  float: right;
  font-size: 2vw;
  margin-left: -0.5%;
  padding: 1px;
  border-radius: 8px;
}

#banner {
  width: 100%;
}

#fotoPerfil {
  width: 15%;
  margin-top: -6.667vw;
  margin-left: 2vw;
  margin-bottom: 1.333vw;
  border-radius: 200px;
}

h1 {
  font-size: 3vw;
  margin-left: 2.667vw;
}

h2 {
  font-size: 2vw;
  margin-left: 1.333vw;
}

p {
  font-size: 1.5vw;
  margin-left: 2vw;
}

li {
  margin-bottom: 4vw;
  list-style: none;
  height: 70px;
}

.bloque {
  border: 2px solid #d0d0d0;
  border-radius: 50px;
  margin: 0.667vw;
  padding: 1.733vw;
}

#logoDelta {
  width: 8vw;
  float: left;
  margin-right: 1vw;
}

#logoDC {
  width: 14vw;
  float: left;
  margin-right: 1vw;
}

#logoVorterix {
  width: 8vw;
  float: left;
  margin-right: 1vw;
}

#logoSAV {
  width: 15vw;
  float: left;
  margin-right: 1vw;
}

#logoAPedu {
  width: 15vw;
  float: left;
  margin-top: -2.5vw;
  margin-bottom: -2vw;
}

#logoEU {
  width: 9vw;
  float: left;
  margin-right: 1vw;
  margin-bottom: -1vw;
}

#logoDome {
  width: 15vw;
  float: left;
  margin-right: 1vw;
  margin-bottom: 2vw;
}

#logoLIL {
  width: 15vw;
  float: left;
  margin-top: -2vw;
  margin-right: 1vw;
}

#logoCETE {
  width: 15vw;
  float: left;
  margin-top: -0.5vw;
  margin-right: 1vw;
}
