<div class="container border rounded mb-3">
  <h2>Hard & soft skills</h2>
  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 99%"
      aria-valuenow="99"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Pro tools (Grabación, edición, mezcla y mastering de audio)
    </div>
  </div>

  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 60%"
      aria-valuenow="60"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Adobe premiere (Edición de video)
    </div>
  </div>

  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 75%"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Adobe photoshop (Edición de imágen)
    </div>
  </div>

  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 80%"
      aria-valuenow="80"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Microsoft office
    </div>
  </div>

  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 75%"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Programación web FULLSTACK (en continuo crecimiento)
    </div>
  </div>

  <h3>Idiomas</h3>
  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 100%"
      aria-valuenow="100"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Español nativo
    </div>
  </div>

  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 90%"
      aria-valuenow="90"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Inglés escrito
    </div>
  </div>

  <div class="progress mb-2">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 80%"
      aria-valuenow="80"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      Inglés hablado
    </div>
  </div>
</div>
