<header>
  <nav class="navbar navbar-expand navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand me-2">
        <img src="./assets/APLogo.png" alt="logoAP" style="margin: -10%" height="75" />
      </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" href="https://twitter.com/hashtag/YoProgramo?src=hashtag_click"
              target="_blank" style="margin-left: -30px">{{ hashtag }}</a>
          </li>
        </ul>

        <div class="btn btn-group">
          <a href="https://github.com/AndresPerezAr" role="button" target="_blank" style="margin-right: 2%">
            <img src="./assets/github.png" alt="github" width="30px" /></a>

          <a href="https://www.linkedin.com/in/andresperezar/" role="button" target="_blank" style="margin-right: 2%">
            <img src="./assets/linkedin.png" alt="logoLinkedin" width="30px" /></a>

          <a href="https://twitter.com/andresperez30_" role="button" target="_blank" style="margin-right: 2%">
            <img src="./assets/twitter.png" alt="logoTw" width="30px" /></a>

          <a href="https://www.instagram.com/andresperez30_/" role="button" target="_blank" style="margin-right: 2%">
            <img src="./assets/instagram.png" alt="logoInsta" width="30px" /></a>

          <a href="https://www.facebook.com/andresperez30" role="button" target="_blank" style="margin-right: 2%">
            <img src="./assets/facebook.png" alt="logoFb" width="30px" /></a>

          <app-boton text="Login" (click)="login()"></app-boton>
        </div>
      </div>
    </div>
  </nav>
</header>